<div id="embody">
  <mat-grid-list class="" [cols]="12" rowHeight="5rem">

    <mat-grid-tile [colspan]="4" [rowspan]="9">
      <mat-card id="empcard">
        <mat-card-header>
          <mat-card-title>Employee Details</mat-card-title>
        </mat-card-header>

        <mat-card-content id="empform">


          <form [formGroup]="form" (ngSubmit)="onFormSubmit()">

            <mat-form-field appearance="fill">
              <mat-label><span style="color: white;">...</span> Employee Number <span
                  style="color: white">...</span></mat-label>
              <input matInput formControlName="number">
              <!-- Validation Error Messages -->
              <mat-error *ngIf="form.get('number')?.hasError('required')">
                Number is required.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label><span style="color: white">...</span>Name <span style="color: white">...</span></mat-label>
              <input matInput formControlName="name">
              <mat-error *ngIf="form.get('name')?.hasError('required')">
                Number is required.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label><span style="color: white">...</span>Address <span style="color: white">...</span></mat-label>
              <input matInput formControlName="address">
              <mat-error *ngIf="form.get('address')?.hasError('required')">
                Number is required.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label><span style="color: white">...</span>NIC <span style="color: white">...</span></mat-label>
              <input matInput formControlName="nic">
              <mat-error *ngIf="form.get('nic')?.hasError('required')">
                Number is required.
              </mat-error>
            </mat-form-field>
            <!--
            <mat-form-field appearance="outline">
              <mat-label><span style="color: white">...</span>Gender <span style="color: white">...</span></mat-label>
              <mat-select formControlName="gender">
                <mat-option [value]="null" selected disabled="">Not Selected</mat-option>
                <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
              </mat-select>
            </mat-form-field>




            <mat-form-field appearance="outline">
              <mat-label><span style="color: white">...</span>Date of Birth <span
                  style="color: white">...</span></mat-label>
              <input matInput [matDatepicker]="dob" formControlName="dob">
              <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
              <mat-datepicker #dob></mat-datepicker>


              <mat-error *ngIf="form.get('dob')?.hasError('required')">
                Date of Birth is required.
              </mat-error>
              <mat-error *ngIf="form.get('dob')?.hasError('min')">
                You must be at least 18 years old.
              </mat-error>
              <mat-error *ngIf="form.get('dob')?.hasError('max')">
                Date cannot be in the future.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label><span style="color: white">...</span>Mobile No. <span
                  style="color: white">...</span></mat-label>
              <input matInput formControlName="mobile">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label><span style="color: white">...</span>Land Phone No. <span
                  style="color: white">...</span></mat-label>
              <input matInput formControlName="land">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label><span style="color: white">...</span>Designtaion <span
                  style="color: white">...</span></mat-label>
              <mat-select formControlName="designation">
                <mat-option [value]="null" selected disabled="">Not Selected</mat-option>
                <mat-option *ngFor="let designation of designations"
                  [value]="designation">{{designation.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label><span style="color: white">...</span>Employee Status <span
                  style="color: white">...</span></mat-label>
              <mat-select formControlName="employeestatus">
                <mat-option [value]="null" selected disabled="">Not Selected</mat-option>
                <mat-option *ngFor="let employeestatus of employeestatuses"
                  [value]="employeestatus">{{employeestatus.name}}</mat-option>
              </mat-select>
            </mat-form-field>
 -->
            <div id="butpanel">
              <button id="addBtn" mat-raised-button type="submit">Add</button>
            </div>

          </form>

        </mat-card-content>

      </mat-card>
    </mat-grid-tile>



    <mat-grid-tile [colspan]="8" [rowspan]="9">
      <mat-card id="emptable">
        <mat-card-header>
          <mat-card-title>All Employees </mat-card-title>
          <!-- <div id="loading">
            <img [src]='imageurl'>
          </div>-->
        </mat-card-header>

        <mat-card-content>

          <div>
            <table mat-table [dataSource]="dataSource">

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of the elements">
            </mat-paginator>
          </div>

        </mat-card-content>
      </mat-card>

    </mat-grid-tile>



  </mat-grid-list>
</div>
